/* Reset default styles */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: red; /* Text color changed to red (example) */
  background-color: silver;
  background-image: url('../login/images/33.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Container for centered content */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack items vertically */
  height: 100vh; /* Use full viewport height */
  text-align: center; /* Center text within container */
  padding-top: 20px; /* Add top padding to create space for the heading */
}

/* Heading styles */
h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: -85px; /* Reset default margin */
  margin-bottom: 10px; /* Optional: Add bottom margin for spacing */
}

/* Button styles */
button {
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

/* Primary button styles */
.btn-primary {
  padding: 15px 30px;
}

/* Button hover effect */
button:hover {
  background-color: #0056b3;
}

/* Style for the button container */
.button-container {
  margin-top: 200px; /* Add space between heading and buttons */
}
