body {
  background-color: rgba(201, 226, 219, 0.334);
  font-family: Arial, 'Lucida Sans', Georgia, 'Comic Sans MS', sans-serif;
}

.header {
  background-color:yellow; /* White header background */
  padding: 10px;
  box-shadow: 0 4px 6px #0000001a;
}
.logo {
  font-size: 24px;
  color: #007bff; /* Bootstrap primary color */
  font-weight: bold;
}
.search-bar {
  flex-grow: 1;
  margin: 0 15px;
  padding: 5px;
}

.products-container {
  padding: 20px;
  background-color:s; /* Navy blue background */
}
.products-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #007bff; /* Bootstrap primary color */
  border-bottom: 2px solid #007bff; /* Border under the header */
  padding-bottom: 10px; /* Add some space between the header and products */
}
.product-section {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: 10px;
  background-color: beige;
}
.product-details {
  margin-top: 10px;
  color: #6c757d; /* Bootstrap secondary color */
}
.product-img {
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  border-radius: 8px;
  margin-bottom: 10px;
}
.rating-stars {
  color: #ffc107; /* Bootstrap warning color for stars */
}
footer {
  background-color:black;
  color: white;
  padding: 10px;
  text-align: center;
  clear: both;
}
.popular-products-heading {
  font-size: 32px; /* Adjust font size as needed */
  color: #007bff; /* Bootstrap primary color */
  font-weight: bolder;
  text-transform: uppercase; /* Convert text to uppercase */
}

.banner-container {
  background-color:orange; /* Replace with your desired background color */
  padding: 20px; /* Optional: Add padding to create space around the image */
}
.banner-container {
  display: flex;
  align-items: center; /* Center items vertically */
}

.big-heading {
  font-size: 65px; /* Adjust font size as needed */
  margin-left: 20px; /* Add space between the image and heading */
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff;
  background-color: #17a2b8;
  border: none;
  border-radius: 5px;
}

.btn-content {
  display: flex;
  align-items: center;
}

.btn-image {
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  margin-right: 10px; /* Spacing between image and text */
}
#sm-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: bisque;
}
#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 70vh;
  padding: 30px 150px;
  flex:1;
}
#sm-banner .banner-box-3 {
  background-image: url("images/hero-2.png");
  flex:1;
  height:70vh;
  background-size: contain;
  background-repeat: no-repeat;
}
#sm-banner {
  /* Apply styles to the entire section */
  font-weight: bolder; /* Bold all text within this section */
}

#sm-banner h4,
#sm-banner h1,
#sm-banner span {
  /* Apply styles to specific elements within the section */
  font-weight: bolder; /* Bold the text within h4, h1, and span elements */
}
#ssm-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#ssm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("images/popup.jpg");
  min-width: 1500px;
  height: 50vh;
  background-size: cover;
  background-color: yellowgreen;
  background-position: center;
  padding: 30px;
}
#ssm-banner {
  /* Apply styles to the entire section */
  font-weight: bold; /* Bold all text within this section */
}

#ssm-banner h4,
#ssm-banner h1,
#ssm-banner span {
  /* Apply styles to specific elements within the section */
  font-weight: bolder; /* Bold the text within h4, h1, and span elements */
}

.cart-icon-container {
        position: absolute;
        display: inline-block;
}

.cart-count {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 5px;
        font-size: 12px;
}
/* CSS for styling the cart text */
.cart-text {
  margin-right: 10px; /* Adjust spacing between text and image */
  font-weight: bolder; /* Optional: Make the text bold */
  font-size: 20px;
}







