{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Choices</title>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'login/loginchoices.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Shop-Com</h1>
        <div class="button-container">
            <button onclick="window.location.href='{% url 'signin_customer' %}';" class="btn btn-primary">Login as a Customer</button>
            <button onclick="window.location.href='{% url 'signin' %}'" class="btn btn-primary">Login as a Business Owner</button>
        </div>
    </div>
</body>
</html>



