{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cool Login Page</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" , href="{% static 'login/login.css' %}" >
</head>
<body>
    
    {%for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong>Message:</strong>{{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true ">&times</span>
            </button>
        </div>
    {% endfor %}

<div class="login-container">
    <h2>Shop-Com</h2>
    <form action="{% url 'signin_customer' %}" method="post" class="login-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your Username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="pass1" placeholder="Enter your password" required>
        </div>
        <div class="form-group">
            <button type="submit">Login</button>
        </div>
    </form>
    <a href="{% url 'signup_customer' %}" class="sign-up-button">Sign up if you don't have an account</a>
</div>

</body>
</html>
