{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css"> <!-- Link to your CSS file -->
  <link rel="stylesheet" , href="{% static 'login/style.css' %}" >
</head>
<body>

  {%for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong>Message:</strong>{{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true ">&times</span>
            </button>
        </div>
  {% endfor %}
  <div class="container">
    <div class="header">
      <h1>Sign Up As a Business Owner </h1>
    </div>
    <form action="{% url 'signup' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text"  name="fname" class="form-control" id="firstName" placeholder="Enter your first name">
      </div>
      <div class="form-group">
        <label for="lastName">Surname</label>
        <input type="text" name="lname"  class="form-control" id="lastName" placeholder="Enter your surname">
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" id="username" placeholder="Enter a username">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        
      </div>
      <div class="form-group">
        <label for="username">Tax identification number (TIN)</label>
        <input type="text" name ="TIN" class="form-control" id="username" placeholder="Enter a TIN">
      </div>
      <div class="form-group">
        <label for="username">Type of business</label>
        <input type="text" name ="type_business" class="form-control" id="username" placeholder="Enter a Type of Business">
      </div>
      <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" name="pass1" class="form-control" id="password" placeholder="New Password">
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="pass2" class="form-control" id="confirmPassword" placeholder="Confirm Password">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
    </form>
    <div class="text-center mt-3">
      Already have an account? <a href="/signin">Log in</a>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
