{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>ABOUT US</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale.0">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/about.css' %}">
  </head>
  <body>
    <div class="section">
      <a href="{% url 'customer_homepage' %}" class="btn btn-secondary mt-3">Back</a>
      <div class="container">
        <div class="content-section">
          <div class="title">
            <h1>ABOUT US</h1>
          </div>
          <div class="content">
            <h2>Vision</h2>
                <p>To become the leading online marketplace, known for our commitment to customer satisfaction, innovation, and social responsibility.</p>
                <br>
                <ul>
                    <li>Leading Online Marketplace</li>
                    <li>Customer Satisfaction</li>
                    <li>Innovation</li>
                    <li>Social Responsibility</li>
                </ul>
                    
            <h2>Mission</h2>
                <p>Our mission is to provide high-quality products, exceptional service, and a user-friendly platform that connects buyers and sellers worldwide.</p>
                <br>
                <ul>
                     <li>High-Quality Products</li>
                     <li>Exceptional Service</li>
                     <li>User-Friendly Platform</li>
                     <li>Global Connectivity</li>
                </ul>
                <br>
                <div class="button">
                  <a href="">Read More</a>
                </div>
          </div>
          <div class="Image-section">
            <img src="{% static 'homepage/images/about.jpeg' %}">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>