{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ADD PRODUCT</title>
    <!-- Link Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'addproduct.css' %}">
  </head>
  <body>
    
     
    <div class="container">
      <a href="{% url 'homepage' %}" class="btn btn-secondary mt-3">Back</a>
      <div class="main">
        <div class="navbar">
          <div class="icon">         
            <h2 class="logo">ADD PRODUCT</h2>
            <div class="menu">
            </div>
          </div>
          <div class="add-product">
            <form action="{% url 'addproduct' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label for="category">Category:</label>
                <select id="category" name="category" class="form-control" required>
                  <option value="">Select a category</option>
                  <option value="Electronics">Electronics</option>
                  <option value="Stationary">Stationary</option>
                  <option value="Clothing">Clothing</option>
                  <option value="Furniture">Furniture</option>
                  <option value="Others">Other</option>
                </select>
              </div>
              <div class="form-group">
                <label for="productImage">Product Image:</label>
                <div class="drag-area">
                  <input type="file" id="productImage" name="productImage" class="form-control-file" required>
                  <p>Drag and drop an image or click to select a file.</p>
                </div>
              </div>
              <div class="form-group">
                <label for="productName">Product Name:</label>
                <input type="text" id="productName" name="productName" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" id="price" name="price" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Discount:</label>
                <input type="text" class="form-control" value="" name="discount">
              </div>
              <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" class="form-control" required>
              </div>
              <button type="submit" class="btn btn-primary">Add Product</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
