{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'homepage/cart.css' %}">
    <style>
        /* Add custom CSS styles */
        .quantity-input {
            width: 60px;
        }
        .total-box {
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 20px;
            text-align: center;
        }
        /* Style for back button */
        .back-button {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- Back button -->
        <button class="btn btn-secondary back-button" onclick="goBack()">Back</button>
        
        <h1>Cart</h1>
        <div id="cart-items"></div> <!-- This div will contain dynamically added cart items -->
        <hr>
        <div class="total-box">
            <h4>Total Amount: UGX<span id="total-amount">0.00</span></h4>
        </div>
        <button class="btn btn-primary mt-3" onclick="updateCart()">Update Cart</button>
        <button class="btn btn-success mt-3" onclick="proceedToCheckout()">Proceed to Checkout</button>
    </div>

    <script src="{% static 'homepage/cart.js' %}"></script> <!-- Link to external JavaScript file -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            renderCartItems();
        });

        function proceedToCheckout() {
            // Redirect to the checkout page
            window.location.href = '{% url 'checkout' %}';
        }

        function goBack() {
            // Redirect back to the index.html page
            window.location.href = '{% url 'customer_homepage' %}';
        }
    </script>
</body>
</html>
