{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'homepage/styles.css' %}">
<script src="{% static 'homepage/b.js' %}"></script>

    <style>
    #sm-banner .banner-box-3 {
        background-image: url("{% static 'images/hero-2.png' %}");
        flex:1;
        height:70vh;
        background-size: contain;
        background-repeat: no-repeat;
    }

        #ssm-banner .banner-box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            background-image: url("{% static 'images/popup.jpg' %}");
            min-width: 1500px;
            height: 50vh;
            background-size: cover;
            background-color: yellowgreen;
            background-position: center;
            padding: 30px;
            }

      </style>


</head>
<body>
    <div class="header-cointainer">
        <header-class="header">
            <div class="header-content">
                <span class="left-text">BUY WITH SHOP-COM</span>
                <span class="right-text">Order online or call 0706772881</span>
            </div>
        </header-class>
    </div>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    
                  <div class="logo">
                    <img src="{% static 'images/ecomm icon.png' %}" alt="" height="60px" width="60px">
                  </div>
                    <div class="logo">Shop-Com</div>
                </div>
                <div class="col-md-5">
                    <form action="{% url 'search_product' %}" method="GET">
                        {% csrf_token %}
                        <input type="text" placeholder="Search" class="search-bar form-control" name="searched">
                        <button class="search" type="submit">Search</button>
                    </form>
                </div>
                <div class="col-md-5 text-end">
                    
                    
                    <a href="{% url 'edit_profile' %}" class="btn btn-info">
                        <span class="btn-content">
                          <img src="{% static 'images/account.png' %}" alt="Account Image" class="btn-image">
                          Account
                        </span>
                      </a>
                      
                    <!-- <a href="{% url 'help' %}"><button class="btn btn-warning">Help</button></a> -->
                    <a href="{% url 'order_tracking' %}"><button class="btn btn-warning">Order Progress</button></a>
                    <a href="{% url 'signout' %}"><button class="btn btn-info">Logout</button></a>
                    <div class="col-md-5 text-end">
                        
                        <div class="cart-icon-container">
                            <a href="{% url 'cart' %}" class="cart-link">
                                <span class="cart-text">Cart</span>
                                <img src="{% static 'images/realcart.png' %}" alt="Cart" height="60px" width="60px">
                                <span id="cart-count" class="cart-count">0</span>
                            </a>
                        </div>
                        
                        
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>

    <section id="sm-banner" class= "section-p1">
        <div class="banner-box ">
            <h1>Shop with us</h1>
            <h2> At affordable prices</h2>
            <span> 100% Original</span>
            <button class="btn btn-primary btn-sm-banner" >Shop-Com</button>
        </div>
        <div class="banner-box-3">

        </div>

    </section>
    <div class="products-container">
        <div class="container">
            <div class="products-header">{{ category.name }}</div>
            <div class="row">
                
                    {% for product in product %}
                <div class="col-md-4 mb-4">
                    <section class="product-section">
                        <img src="{{ product.productImage.url }}" alt="{{ product.productName }}" class="img-fluid product-img">
                        <div class="product-details">
                            <p class="fw-bold fs-5">{{ product.productName }}</p>
                            <p class="fs-6">Price: UGX {{ product.price }}</p>
                            
                            <p class="fs-6 rating-stars">Rating: ★★★★☆</p>
                            <button class="btn btn-primary btn-sm" onclick="addToCart('{{ product.productName }}', '{{ product.price }}')">Add to Cart</button>
                        </div>
                        
                    </section>
                </div>
                    {% endfor %}
               
    
                <!-- Add more products here -->
                <!-- Repeat the structure for additional products -->
    
            </div>
        </div>
    </div>
    
    
    <div class="products-container">
        <div class="container">
            <div class="products-header">Categories</div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <section class="product-section">
                        <img src="{% static 'images/electronics.jpg' %}" alt="Product 1" class="img-fluid product-img">
                        <div class="product-details">
                            <p class="fw-bold fs-5">Electronics</p>
                            <p class="fs-6">Price:UGX 800,000</p>
                            
                            <p class="fs-6 rating-stars">Rating: ★★★★☆</p>
                            <button class="btn btn-primary btn-sm" onclick="addToCart('phone', 800000)">Add to Cart</button>
                            <a href="{% url 'category' 'Electronics'%}" class="btn btn-link btn-sm">View More</a>
                        </div>
                    </section>
                </div>
    
                <div class="col-md-4 mb-4">
                    <section class="product-section">
                        <img src="{% static 'images/Stationary.jpg' %}" alt="Product 2" class="img-fluid product-img">
                        <div class="product-details">
                            <p class="fw-bold fs-5">Stationary</p>
                            <p class="fs-6">Price:UGX 30,000</p>
                            
                            <p class="fs-6 rating-stars">Rating: ★★★★☆</p>
                            <button class="btn btn-primary btn-sm" onclick="addToCart('Books', 30000)">Add to Cart</button>
                            <a href="{% url 'category' 'Stationary'%}" class="btn btn-link btn-sm">View More</a>
                        </div>
                    </section>
                </div>
    
                <div class="col-md-4 mb-4">
                    <section class="product-section">
                        <img src="{% static 'images/clothing1.jpg' %}" alt="Product 3" class="img-fluid product-img">
                        <div class="product-details">
                            <p class="fw-bold fs-5">Clothing</p>
                            <p class="fs-6">Price: UGX 50,000</p>
                        
                            <p class="fs-6 rating-stars">Rating: ★★★★☆</p>
                            <button class="btn btn-primary btn-sm" onclick="addToCart('Jumper', 50000)">Add to Cart</button>
                            <a href="{% url 'category' 'Clothing'%}" class="btn btn-link btn-sm">View More</a>
                        </div>
                    </section>
                </div>
                <div class="col-md-4 mb-4">
                    <section class="product-section">
                        <img src="{% static 'images/Furniture.jpg' %}" alt="Product 3" class="img-fluid product-img">
                        <div class="product-details">
                            <p class="fw-bold fs-5">Furniture</p>
                            <p class="fs-6">Price: </p>
                        
                            <p class="fs-6 rating-stars">Rating: ★★★★☆</p>
                            <button class="btn btn-primary btn-sm" onclick="addToCart('Chair', 29.99)">Add to Cart</button>
                            <a href="{% url 'category' 'Furniture'%}" class="btn btn-link btn-sm">View More</a>
                        </div>
                    </section>
                </div>
                <div class="col-md-4 mb-4">
                    <section class="product-section">
                        <img src="{% static 'images/cosmetics.jpg' %}" alt="Product 3" class="img-fluid product-img">
                        <div class="product-details">
                            <p class="fw-bold fs-5">Cosmetics</p>
                            <p class="fs-6">Price: UGX 20,000</p>
                        
                            <p class="fs-6 rating-stars">Rating: ★★★★☆</p>
                            <button class="btn btn-primary btn-sm" onclick="addToCart('Vaseline', 20000)">Add to Cart</button>
                            <a href="{% url 'category' 'Cosmetics'%}" class="btn btn-link btn-sm">View More</a>
                        </div>
                    </section>
                </div>
                <div class="col-md-4 mb-4">
                    <section class="product-section">
                        <img src="{% static 'images/others.jpg' %}" alt="Product 3" class="img-fluid product-img">
                        <div class="product-details">
                            <p class="fw-bold fs-5">Others</p>
                            <p class="fs-6">Price: UGX 10,000</p>
                        
                            <p class="fs-6 rating-stars">Rating: ★★★★☆</p>
                            <button class="btn btn-primary btn-sm" onclick="addToCart('Round hart', 10000)">Add to Cart</button>
                            <a href="{% url 'category' 'Others'%}" class="btn btn-link btn-sm">View More</a>
                        </div>
                    </section>
                </div>
    
               
    
    
    <div class="products-container">
        <div class="container">
            <div class="products-header">Popular products</div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <section class="product-section">
                        <img src="{% static 'images/earpods1.jpg' %}" alt="Product 1" class="img-fluid product-img">
                        <div class="product-details">
                            <p class="fw-bold fs-5">Earpods</p>
                            <p class="fs-6">Price: UGX 150,000</p>
                            
                            <p class="fs-6 rating-stars">Rating: ★★★★☆</p>
                            <button class="btn btn-primary btn-sm" onclick="addToCart('Ear pods', 150000)">Add to Cart</button>
                        </div>
                    </section>
                </div>
    
                <div class="col-md-4 mb-4">
                    <section class="product-section">
                        <img src="{% static 'images/shades1.jpg' %}" alt="Product 2" class="img-fluid product-img">
                        <div class="product-details">
                            <p class="fw-bold fs-5">Shades</p>
                            <p class="fs-6">Price: UGX 15,000</p>
                            
                            <p class="fs-6 rating-stars">Rating: ★★★★☆</p>
                            <button class="btn btn-primary btn-sm" onclick="addToCart('Shades', 15000)">Add to Cart</button>
                        </div>
                    </section>
                </div>
    
                <div class="col-md-4 mb-4">
                    <section class="product-section">
                        <img src="{% static 'images/Bracelets.jpg' %}" alt="Product 3" class="img-fluid product-img">
                        <div class="product-details">
                            <p class="fw-bold fs-5">Bracelets</p>
                            <p class="fs-6">Price: UGX 25,000</p>
                            
                            <p class="fs-6 rating-stars">Rating: ★★★★☆</p>
                            <button class="btn btn-primary btn-sm" onclick="addToCart('Bracelets', 25000)">Add to Cart</button>
                        </div>
                    </section>
                </div>
    
                <!-- Add more products here -->
                <!-- Repeat the structure for additional products -->
    
            </div>
        </div>
    </div>
    
    <section id="ssm-banner" class= "section-p1">
        <div class="banner-box banner-box2">
            <h1>Don't miss out</h1>
            <h2> This week's  </h2>
            <span> Special offers</span>

        </div>

    </section>
    <div class="products-container">
        <div class="container">
            <div class="products-header">Weekly offers</div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <section class="product-section">
                        <img src="{% static 'images/PS1.png' %}" alt="Product 1" class="img-fluid product-img">
                        <div class="product-details">
                            <p class="fw-bold fs-5">Play Station</p>
                            <p class="fs-6">Discount: 75%</p>
                            <p class="fs-6"><s>Price: UGX 1,000,000</s></p>
                            <p class="fs-6">Price: UGX 750,000</p>
                            <p class="fs-6 rating-stars">Rating: ★★★★☆</p>
                            <button class="btn btn-primary btn-sm" onclick="addToCart('Play station', 750000)">Add to Cart</button>
                        </div>
                    </section>
                </div>
    
                <div class="col-md-4 mb-4">
                    <section class="product-section">
                        <img src="{% static 'images/sshoe.png' %}" alt="Product 2" class="img-fluid product-img">
                        <div class="product-details">
                            <p class="fw-bold fs-5">Shoes</p>
                            <p class="fs-6">Discount: 60%</p>
                            <p class="fs-6"><s>Price: UGX 50,000</s></p>
                            <p class="fs-6">Price: UGX 30,000</p>
                            <p class="fs-6 rating-stars">Rating: ★★★★☆</p>
                            <button class="btn btn-primary btn-sm" onclick="addToCart('Shoes', 30000)">Add to Cart</button>
                        </div>
                    </section>
                </div>
    
               
                <div class="col-md-4 mb-4">
                    <section class="product-section">
                        <img src="{% static 'images/xxtv.png' %}" alt="Product 4" class="img-fluid product-img">
                        <div class="product-details">
                            <p class="fw-bold fs-5">Smart TV</p>
                            <p class="fs-6">Discount: 80%</p>
                            <p class="fs-6"><s>Price: UGX 700,000</s></p>
                            <p class="fs-6">Price: UGX 560,000</p>
                            <p class="fs-6 rating-stars">Rating: ★★★★☆</p>
                            <button class="btn btn-primary btn-sm" onclick="addToCart('Smart TV', 500000)">Add to Cart</button>
                        </div>
                    </section>
                </div>
    
                <!-- Add more products here -->
                <!-- Repeat the structure for additional products -->
    
            </div>
        </div>
    </div>
    
    
    
    <footer>
        <div class="container">
            <p>Location :Makerere University. </p>
            <P>Email: ShopCom541@gmail.com</P>
            <p>Contact us: 0706772881</p>
            <p>Follow us</p>
            <a href="{% url 'about_us'%}">About Us</a>
            <p>Conditions of Use</p>
            <a href = "{% url 'FAQ'%}">Frequently Asked Questions</a>
            <P>Your Ads Privacy Choices</P>
            <P>© 2024 Shop-Com.</P>
        </div>
    </footer>

    <!-- Link to external JavaScript file -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

