{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="{% static 'homepage/checkout.css' %}">
</head>
<body>
    <div class="container">
        <h1>Checkout</h1>

        <!-- Order Summary -->
        <div class="order-summary">
            <h2>Order Summary</h2>
            <table id="order-summary-table">
                <tr>
                    <td>Total items</td>
                    <td id="total-items">0</td>
                </tr>
                <tr>
                    <td>Total Price</td>
                    <td id="total-price">UGX0.00</td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td>UGX 3000</td>
                </tr>
                <tr>
                    <td>Total Amount to pay</td>
                    <td id="total-amount">UGX0.00</td>
                </tr>
            </table>
            <!-- Replace the anchor tag with a button -->
        <button class="btn btn-secondary back-button" onclick="backToCart()">Back to Cart</button>

        </div>

        <!-- Shipping Information -->
        <div class="shipping-info">
            <h2>Customer Details</h2>
            <form id="shipping-form">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="phone">Phone number:</label>
                <input type="tel" id="phone" name="phone" required>

                <label for="address">Address:</label>
                <textarea id="address" name="address" required></textarea>
            </form>
        </div>

        <!-- Billing Information -->
        <div class="billing-info">
            <h2>Billing Information</h2>
            <form id="billing-form">
               

                <label for="expiration">Expiration Date:</label>
                <input type="text" id="expiration" name="expiration" placeholder="MM/YYYY" required>

                <label for="payment-method">Payment Method:</label>
<select id="payment-method" name="payment-method" required>
    <option value="visa">Visa</option>
    <option value="mastercard">Mastercard</option>
    <option value="amex">American Express</option>
    <option value="paypal">PayPal</option>
    <option value="Mobilemoney">Mobile Money</option>
</select>

            </form>
        </div>

        <!-- Place Order Button -->
        <button class="place-order-btn" onclick="placeOrder()">Place Order</button>
    </div>
    <script>
        function backToCart() {
  // Redirect to the cart page
  window.location.href = '{% url 'cart' %}';
}

    </script>
    <script src="{% static 'homepage/checkout.js' %}"></script> <!-- Link to external JavaScript file -->
</body>
</html>
