{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" , href="{% static 'styless.css' %}" >

</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                  <div class="logo">
                    <img src="{% static 'images/ecomm icon.png' %}" alt="" height="60px" width="60px">
                  </div>
                    <div class="logo">Shop-Com</div>
                </div>
                <div class="col-md-5">
                    <input type="text" placeholder="Search" class="search-bar form-control">
                </div>
                <div class="col-md-5 text-end">
                    <a href="{% url 'addproduct' %}"><button class="btn btn-primary">Add Product</button></a>
                    <a href="{% url 'orderstatus' %}"><button class="btn btn-secondary">Order Status</button></a>
                    
                    <a href="{% url 'help' %}"><button class="btn btn-warning">Help</button></a>
                    <a href="{% url 'logout_customer'%}"><button class="btn btn-info">Logout</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-container">
        <img src="{% static 'images/hero-1.png' %}" alt="Banner Image" class="img-fluid" width="300px">
        <h1 class="big-heading">Fast Business Experience</h1>
        
        
    </div>
    
    
    <div class="products-container">
        <div class="container">
            <div class="products-header">Available Products</div>
            <div class="row">
                {% for product in products %}
                <div class="col-md-4 mb-4">
                    <section class="product-section">
                        <img src="{{ product.productImage.url }}" alt="{{ product.productName }}" class="img-fluid product-img">
                        <div class="product-details">
                            <p class="fw-bold fs-5">Name: {{ product.productName }}</p>
                            <p class="fs-6">Price: {{ product.price }}</p>
                            <p class="fs-6">Discount: {{ product.discount }}</p>
                            <p class="fs-6 rating-stars">Rating: ★★★★☆</p>
                            <a href="{% url 'delete_item' product.id %}"><button>Delete</button></a>
                        </div>
                    </section>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <footer>
        <div class="container">
            <p>Location :Makerere University. </p>
            <P>Email: ShopCom541@gmail.com</P>
            <p>Contact us: 0706772881</p>
            <p>Follow us</p>
            <p>Conditions of Use</p>
            <P>Privacy Notices</P>
            <P>Your Ads Privacy Choices</P>
            <P>© 2024 Shop-Com.</P>
        </div>
    </footer>

    <script src="script.js"></script> <!-- Link to external JavaScript file -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

