{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>ORDER-TRACKING</title>
  <meta http-equiv="V-UA-Compatible" content="">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale.0">
  <link rel="stylesheet" type="text/css" href="{%static 'homepage/order-tracking.css' %}">
</head>
<body>
  <div class="container">
    <div class="details">
      <div class="order">
        <h1> order<span>x3yhd45</span></h1>
      </div>
      <div class="date">
        <p id="expected-arrival">Expected Arrival: Calculating...</p>
        <p>USPS <br>234083243282398476363</p>
      </div>
    </div>
    <div class="track">
      <ul id="progress" class="text-center">
        <li class="active"></li>
        <li class="active"></li>
        <li class="active"></li>
        <li class=""></li>
      </ul>
    </div>
    <div class="lists">
      <div class="list">
        <img src="{%static 'images/loading-icon.jpeg'%}" alt="">
        <p>Order<br> Processing</p>
      </div>
      <div class="list">
        <img src="{%static 'images/Automated tracking system color icon.jpeg' %}" alt="">
        <p>Order<br> Accepted</p>
      </div>
      <div class="list">
        <img src="{%static 'images/shipped.jpeg' %}" alt="">
        <p>Order<br> Shipping</p>
      </div>
      <div class="list">
        <img src="{%static 'images/arrived.jpeg' %}" alt="">
        <p>Order<br> Arrived</p>
      </div>
    </div>
  </div>
  <script src="{%static 'homepage/order-tracking.js' %}"></script>
</body>
</html>
