/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

.container {
  max-width: 8000px;
  margin: 0 auto;
  padding: 20px;
  background-color: oldlace;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.back-button {
  margin-bottom: 10px;
}

.total-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  border-radius: 4px;
}

.btn {
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #218838;
}

/* Responsive Styles */
@media (max-width: 576px) {
  .container {
      padding: 10px;
  }
}
