* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: rgb(138, 194, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
}

.container {
  width: 900px;
  max-width: 100%;
  padding: 40px;
  margin: 0 30px;
  background: white;
  position: relative;
}

.details {
  display: flex;
  gap: 1cm;
  flex-wrap: wrap;
  justify-content: space-between;
}

.order h1 {
  text-transform: uppercase;
}

.order span {
  color: rgb(31, 93, 248);
}

.date p {
  font-size: 1.1rem;
}

.track {
  margin-bottom: 2cm;
}

#progress {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  position: relative;
}

#progress li {
  flex: 1;
  position: relative;
  margin-right: -10px; /* Negative margin to remove space between elements */
}

#progress li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 7px;
  background-color: rgb(85, 7, 181);
 
  z-index: 0;
}

#progress li:last-child::before {
  width: calc(100% - 10px); /* Adjust width for last element */
 
}

#progress li::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px; /* Position the arrow pointer at the end */
  transform: translateY(-50%) translateX(100%); /* Move to end and center vertically */
  width: 0;
  height: 0;
  border-top: 5px solid transparent; /* Half the height of the arrow */
  border-bottom: 5px solid transparent; /* Half the height of the arrow */
  border-left: 20px solid rgb(85, 7, 181); /* Width of the arrow */
  z-index: 1;
}
#progress li:nth-child(-n+3)::after { /* Select the first three arrow pointers */
  content: '';
  position: absolute;
  top: 50%;
  right: 120px; /* Position the arrow pointer at the end */
  transform: translateY(-50%) translateX(100%); /* Move to end and center vertically */
  width: 10px; /* Set the width of the circle */
  height: 10px; /* Set the height of the circle */
  background-color: rgb(85, 7, 181); /* Color of the circle */
  border-radius: 50%; /* Make it a circle */
  z-index: 1;
}



.lists {
  display: flex;
  gap: 4cm;
  flex-wrap: wrap;
  align-items: flex-start; /* Align items to the start */
  justify-content: center; /* Center the lists horizontally */
  margin-top: 2cm;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text */
}

.list p {
  font-size: 1.1rem;
}

.list img {
  width: 50px;
  transition: transform 0.5s ease-in-out; /* Transition transform property */
}

.list:hover img {
  transform: translateY(-10px); /* Move the image 10px up on hover */
}


