{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'account.css' %}">
    
</head>
<body>
   
    <a href="{% url 'customer_homepage' %}"><input type="button" value="Back"></a>
    <div class="header">
        <h1>Edit Profile</h1>
      </div>
      <form action="{% url 'edit_profile' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text"  name="firstname" class="form-control" id="firstName" placeholder="Enter your first name" value="{{ request.user.first_name }}">
        </div>
        <div class="form-group">
          <label for="lastName">Surname</label>
          <input type="text" name="lastname"  class="form-control" id="lastName" placeholder="Enter your surname" value="{{ request.user.last_name }}">
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control" id="username" placeholder="Enter a username" value="{{ request.user.username }}">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" value="{{ request.user.email }}">
          
        </div>
        
        <div class="form-group">
          <label for="telephone">Telephone</label>
          <input type="text" name = "telephone" class="form-control" id="username" placeholder="Enter your Telephone number" value="{{ customer.telephone }}">
        </div>
        <div class="form-group">
          <label for="password">New Password</label>
          <input type="password" name="pass1" class="form-control" id="password" placeholder="New Password">
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" name="pass2" class="form-control" id="confirmPassword" placeholder="Confirm Password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
      </form>
    
</body>
</html>
