* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  font-size: 18px;
}

.section {
  width: 100%;
  height: 150vh;
  background-color: rgb(245, 236, 185);
}

.container {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}

.content-section {
  float: left;
  width: 55%;
}

.Image-section {
  float: right;
  width: 80%;
  margin-top: -400px;
  margin-right: -500px;
}

.Image-section img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease, opacity 0.5s ease; /* Add transition for both transform and opacity */
}

.Image-section img:hover {
  transform: rotate(360deg); /* Rotate the image 360 degrees on hover */
  opacity: 0.5; /* Reduce opacity on hover */
}

.content-section .title {
  text-transform: uppercase;
  font-size: 90px;
}

.content-section .title h1 {
  text-transform: uppercase;
  font-size: 90px;
}

.content-section .content h2 {
  margin-top: 20px;
  color: brown;
  font-size: 18px;
}

.content-section .content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.content-section .content .button a {
  background-color: rgb(0, 0, 0);
  padding: 12px 20px;
  text-decoration: solid;
  color: blueviolet;
  font-size: 25px;
  letter-spacing: 1.5px;
}

.content-section .content .button a:hover {
  background-color: red;
  color: aliceblue;
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .Image-section {
    float: right;
    width: 100%;
  }
  .Image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .content-section .title {
    text-align: center;
    font-size: 19px;
  }
  .content-section .content .button {
    text-align: center;
  }
  .content-section .content .button a {
    padding: 9px 30px;
  }
}
